.app-overlay {
  z-index: 100;
  background: #FFFA;
}

.app-text-dark {
  color: #4A0072;
}

.app-text-light {
  color: #AE52D4;
}

.app-text-s {
  color: #1976d2;
}

.app-text {
  color: #7B1FA2;
}

.app-bg-p {
  background: #7B1FA2;
}

.app-bg-p-dark {
  background: #4A0072;
}

.app-bg-p-light {
  background: #AE52D4;
}

.app-bg-s {
  background: #1976d2;
}

.app-border {
  border: 1px solid #AE52D4;
}

.app-border-p-dark {
  border: 1px solid #4A0072;
}

.app-border-p {
  border-color: #7B1FA2 !important;
}

.app-border-light {
  border-color: #FFF;
}

.app-btn-outline-p {
  color: #7B1FA2;
  border-color: #7B1FA2;
}

.app-btn-outline-p:hover {
  color: #FFF;
  background-color: #7B1FA2;
  border-color: #7B1FA2;
}

.app-btn-outline-s {
  color: #FFF;
  border-color: #FFF;
}

.app-btn-outline-s:hover {
  color: #7B1FA2;
  background-color: #FFF;
  border-color: #FFF;
}

.app-message {
  margin-bottom: 1rem;
}

.app-message-content {
  display: flex;
}

.app-message-sender {
  background: #1976d2;
  border-radius: 0.25rem;
  color: #FFF;
  padding: 4px 8px;
  margin-right: auto !important;
  max-width: 24%;
}

.self .app-message-sender {
  background: #7B1FA2;
  /* border: 1px #1976d2 solid !important;
  background: #FFF !important;
  color: #1976d2 !important; */
}

.app-message-payload {
  margin-left: auto !important;
  max-width: 74%;
  border: 1px #1976d2 solid;
  padding: 4px 12px;
  border-radius: 0 .25rem .25rem .25rem;
}

.self .app-message-payload {
  border-color: #7B1FA2;
}

.app-load-messages {
  background: #1976d2;
  text-align: center;
  padding: 4px 0;
  cursor: pointer;
}

.card-body {
  overflow-y: scroll;
  height: 70vh;
}

.app-disabled {
  cursor: not-allowed;
  background: lightgrey;
  color: grey;
}

.app-message-tool {
  cursor: pointer;
}